@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&family=Ephesis');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    background: url('/assets/images/background.jpg') no-repeat;
    background-size: cover;
    overflow: hidden;
}

.header-title {
    margin: 1% 0% 0% 4%;
    font-family: "Fredericka the Great", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 60px;
    color: #fff;
}

main {
    width: 100%;
    margin: 3%;
    display: flex;
    font-family: "Ephesis", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.main-inputdata-text-textarea {
    width: 680px;
    height: 328px;
    margin-left: 208px;
    font-family: "Ephesis", sans-serif;
    font-weight: 400;
    font-size: 36px;
    background: none;
    border: none;
    color: #fff;
}

.main-inputdata-information {
    display: flex;
    align-items: center;
    margin-left: 208px;
    gap: 8px;
}

.main-inputdata-information-icon {
    font-size: 16px;
    color: tomato;
}

.main-inputdata-text {
    font-size: 20px;
    color: tomato;

}

.main-inputdata-button {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 24px;
    margin-left: 208px;
}

.main-inputdata-button-encrypt, .main-inputdata-button-decrypt {
    width: 328px;
    gap: 8px;
    border-radius: 24px;
    border: 1px dashed #fff;
    padding: 10px;
    margin-top: 8px;
    font-family: "Ephesis", sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: #fff;
    background-color: transparent;
    cursor: pointer;
}

.main-inputdata-button-encrypt:hover {
    background-color: #333;
}

.main-inputdata-button-decrypt:hover {
    background-color: tomato;
}

.main-outputdata {
    width: 370px;
    height: 562px;
    background: transparent;
    border-radius: 32px;
    margin-top: -108px;
    margin-left: 32px;
    padding: 32px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px dashed #fff;
}

.main-outputdata-img {
    width: 250px;
    margin-left: 24px;
}

.main-outputdata-subtitle {
    font-family: "Fredericka the Great", serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    margin: 8px;
    color: #fff;
}

.main-outputdata-paragraph {
    font-size: 20px;
    text-align: center;
    color: #fff;
    margin: 8px;
}

.main-outputdata-outputText {
    font-family: "Ephesis", sans-serif;
    font-weight: 400;
    font-size: 36px;
    text-align: left;
    color: #fff;
}

.footer {
    display: flex;
    justify-content: center;
    font-size: 18px;
    font-family: "Fredericka the Great", sans-serif;
    font-weight: 400;
    gap: 8px;
    margin-top: -40px;
    color: #fff;
}

.footer a {
    margin-top: 2px;
    color: #fff;
}

@media (max-width:768px) {

    main {
        display: flex;
        flex-direction: column;
    }
    .main-inputdata-text-textarea {
        width: 688px;
        height: 328px;
        margin-left: 40px;
    }

    .main-inputdata-information {
        margin-left: 40px;
    }

    .main-inputdata-button {
        margin-left: 40px;
    }

    .main-outputdata {
        width: 688px;
        height: auto;
        margin-top: 40px;
        margin-left: 40px;
    }

    .main-outputdata-img {
        display: none;
    }

    .footer {
        margin-top: 8px;
        margin-bottom: 8px;
    }
}

